<div class="commits-section-wrapper relative">
  <div class="section-date">
    <svg class="octicon" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true" fill="currentColor">
      <path fill-rule="evenodd"
            d="M10.86 7c-.45-1.72-2-3-3.86-3-1.86 0-3.41 1.28-3.86 3H0v2h3.14c.45
            1.72 2 3 3.86 3 1.86 0 3.41-1.28 3.86-3H14V7h-3.14zM7
            10.2c-1.22 0-2.2-.98-2.2-2.2 0-1.22.98-2.2 2.2-2.2 1.22 0 2.2.98 2.2 2.2 0 1.22-.98 2.2-2.2 2.2z">
      </path>
    </svg>
    Commits on Feb 13, 2020
  </div>
  <div class="commits-stack">
    <article class="single-commit" *ngFor="let commit of [1,2,3,4,5,6,7,8]">
      <app-single-commit></app-single-commit>
    </article>
  </div>
</div>
