<div class="commit-wrapper" fxLayout="column">
  <div class="top-section" fxLayout="row" >
    <div class="info">
      <p>fix(ivy): error if directive with synthetic property binding is on sa… <span class="more"></span></p>
      <div class="commit-info">
        <div class="avatars">
          <a href="" class="avatar">
            <img src="https://avatars2.githubusercontent.com/u/4450522?s=60&v=4" alt="">
          </a>
          <a href="" class="avatar">
            <img src="https://avatars2.githubusercontent.com/u/3871688?s=60&v=4" alt="">
          </a>
        </div>

      </div>
    </div>
  </div>
  <div class="bottom-section"></div>
</div>
