<div class="commits-wrapper" fxLayout="column" fxLayoutAlign="start">
  <div class="branch-switcher">
    <button class="switcher-button" fxLayoutAlign="start center" (click)="openDialog()">
      <span>Branch:</span>
      <span *ngIf="currentBranch" class="active-branch">{{currentBranch.name}}</span>
      <mat-icon class="arrow" aria-hidden="true" aria-label="dropdown caret">arrow_drop_down</mat-icon>
    </button>
  </div>
  <section class="commits-section">
    <app-commits-section></app-commits-section>
  </section>
</div>
