/* You can add global styles to this file, and also import other style files */
@import "assets/styles/global-variables";
@import "assets/styles/fonts";

html, body { height: 100%; }
body {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $main-color;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin: 0;
}

.mat-button-toggle-appearance-standard {
  .mat-button-toggle-label-content {
    line-height: 0 !important;
    padding: 0 !important;
  }
}


